<div class="container my-4">
  <h2 class="text-center mb-4">All Categories</h2>

  <div class="row">
    <div
      class="col-md-3 mb-4"
      *ngFor="let category of categories"
      (click)="goToCategory(category.name)"
      style="cursor: pointer;"
    >
      <div class="card h-100 shadow-sm text-center">
        <img
          [src]="category.image"
          class="card-img-top"
          [alt]="category.name"
          style="height: 200px; object-fit: cover;"
        />
        <div class="card-body">
          <h5 class="card-title">{{ category.name | titlecase }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
