<form class="container-fluid bg-light p-5" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label for="fname">First Name :</label>
    <input type="text" name="fname" id="fname" class="form-control" formControlName="fName">

    <label for="lname">Last  Name :</label>
    <input type="text" name="lname" id="lname" class="form-control" formControlName="lName">

    <label for="age">Age :</label>
    <input type="number" name="age" id="age" class="form-control" formControlName="age">
    <label for="email">Email :</label>
    <input type="email" name="email" id="email" class="form-control" formControlName="email">
    <label for="password">Password :</label>
    <input type="password" name="password" id="password" class="form-control" formControlName="password">
    <button class="btn btn-success mt-3">Register</button>
</form>
